<div class="editor-container" >
    <div class="toolbar">
        <h1>Latex Editor</h1>
        <button 
        class="download-btn"
        (click) = "downloadPDF()">
                📄 Download PDF
        </button>

    </div>

    <div class="editor-main">
        <div class="editor-panel">
            <div class="panel-header">
                <h3>Latex Source</h3>
            </div>
            <div class="editor-content">
                <textarea 
                class = "latex input"
                [(ngModel)]="latexInput"
                (input)="onLatexChange($event)"
                placeholder="Enter your LaTeX code here..."
                spellcheck="false"
                ></textarea>
            </div>
        </div>

        <div class="resize-handle"></div>

        <div class="preview-panel">
            <div class="panel-header">
                <h3>Preview</h3>
            </div>
            <div class="preview-content" #preview>
                <div class="rendered-output" [innerHTML]="renderedOutput"></div>
            </div>
        </div>

    </div>


</div>